@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --c-shark: 27 29 31;
    --c-shark-light: 40 43 48;
    --c-pale-sky: 108 114 127;
    --c-iron: 210 213 218;
    --c-cornflower-blue: 78 128 238;
}

span, label {
    @apply font-semibold
}

h1 {
    @apply text-[32px] leading-8 font-semibold
}

small, label {
    @apply text-xs leading-3
}
